@import "tailwindcss";

body{
    margin:0;
    font-family:Inter,sans-serif;
    background:#ECEAF7;
}

*{
    box-sizing:border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-yellow {
  background-color: #ffc853;

}