@import "tailwindcss";

body{
    margin:0;
    font-family:Inter,sans-serif;
    background:#ECEAF7;
}

*{
    box-sizing:border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-yellow {
  background-color: #ffc853;

}

/* ============================
   Dot Animation
   ============================ */

   @keyframes typing-bounce{
    0%, 60%, 100%{
        transform: translateY(0);
        opacity: 0.45;
    }
    30%{
        transform: translateY(-10px);
        opacity: 1;
    }
   }

   .typing-dot {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 9999px;
    background-color: #64748b; /* slate-500 */
    animation: typing-bounce 1.2s ease-in-out infinite;
  }


/* ============================
   iPhone SE (320px)
   ============================ */
@media (max-width: 320px) {
    html {
        font-size: 11px;
    }
}

/* ============================
   iPhone 12/13/14, SE 2022
   ============================ */
@media (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 12px;
    }
}

/* ============================
   Large phones
   ============================ */
@media (min-width: 376px) and (max-width: 430px) {
    html {
        font-size: 13px;
    }
}

/* ============================
   Large phones / landscape
   ============================ */
@media (min-width: 431px) and (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

/* ============================
   Tablets
   ============================ */
@media (min-width: 577px) and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

/* ============================
   Small laptops
   ============================ */
@media (min-width: 769px) and (max-width: 992px) {
    html {
        font-size: 15.5px;
    }
}

/* ============================
   Medium laptops
   ============================ */
@media (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/* ============================
   Desktop
   ============================ */
@media (min-width: 1201px) {
    html {
        font-size: 16px;
    }
}